<div class="riddler">
 <div class="riddler-q">
  <h4 class="question">Question:</h4>
  <h2 class="question">{{model1.content}}</h2>
  <h5 class="question">ASKED BY:</h5>
  <h3 class="question-asked">{{model.author}}</h3>
 </div>

<div class="q-detail">
<div class= <span class = "why-ask">WHY ASK</span>
<h4{{model.detail}}</h4>
</div>

{{new-answer save1 = "save2" question.mode1}}
</div>

{{#each mode.answer as |answer}}
{{answer-tile answer=answer}}
{{/each}}
